.builder-item.part-position {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}
.pull-left.form-position-checker {
    width: 20px;
    display: inline-block;
    vertical-align: top;
}
.pull-left.form-position-title {
    display: inline-block;
    width: calc(100% - 40px);
    padding-right: 20px;
}
.builder-item.part-userField {
    display: inline-block;
    width: 49%;
}
.builder-item.part-text {
    display: inline-block;
    width: calc(100% - 240px);
    color: #959595;
    font-size: 13px;
    margin-left: 20px;
}
.builder-item.part-button.text-center {
    display: inline-block;
    width: 210px;
    vertical-align: top;
    text-align: left;
}
.builder-item.part-socialButtons.text-left {
    margin-top: 30px;
}

.form-position-price span:first-of-type {
    display: none;
}

.custom-show-price {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: 100px;
    font-weight: 500;
    background: rgb(207, 41, 75);
    color: white;
    margin-top: -18px;
    padding: 20px;
    width: 100%;
    position: relative;
}

.custom-show-price .stream-vacant {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    font-size: 16px;
    margin-left: 20px;
}
.custom-show-price span:first-of-type {
    font-size: 50%;
    opacity: .8;
}
.form-position.selected {
    background: rgb(207, 41, 75);
}
.form-position {
    min-height: 150px;
}
.form-position .form-position-checker {
    padding-right: 30px;
    padding-left: 10px;
}
.modal-block-content {padding-left: 0!important; padding-right: 0!important;}
.builder-item.part-header {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.builder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-position-price .final-price {
    display: none;
}
.offer-title {
    font-family: 'Roboto Slab', serif;
    margin-right: 10px;
}
.text-muted {
    color: #eee;
}
.form-position-title .stream-vacant{
    display: none;
}

@media (max-width: 800px){
    .custom-show-price { font-size: 80px; }
}
@media (max-width: 500px){
    .custom-show-price { font-size: 40px; }
}
