$color-menu: #2d2d44
$color-menu-hover: #414157

body
  height: 100vh
  margin: 0

*
  box-sizing: border-box

#my-custom-menu
  display: flex
  justify-content: space-between
  align-items: center
  background: #2d2d44
  padding-left: 20px
  padding-right: 20px

  &, & a
    color: white
    font-family: "Muller","Arial",sans-serif

#main-logo
  min-width: 150px
  background: url(https://fs01.getcourse.ru/fileservice/file/download/a/120677/sc/82/h/a27f113a06f1ca5374082d684371dc3c.svg) center / contain no-repeat
  margin: 10px

#section-menu
  display: flex

  .menu__item
    display: block
    position: relative
    margin-right: 20px
    cursor: pointer
    height: 100%
    padding: 20px
    z-index: 2
    text-decoration: none

    .item__text
      margin-right: 5px

    &.dropdown::after
      content: ""
      position: absolute
      top: 48%
      right: 10px
      display: block
      width: 0
      height: 0
      border-width: 6px 4px 0
      border-style: solid
      border-color: $color-menu-hover transparent transparent

    .menu__submenu
      position: absolute
      height: 0
      bottom: 0
      left: 0
      opacity: 0
      transition: opacity .4s
      background: $color-menu-hover
      width: 200%
      transform: translateY(100%)
      overflow: hidden
      line-height: 2

      .submenu__item
        display: block


    &:hover
      background: $color-menu-hover

      .menu__submenu
        opacity: 1
        height: auto
        padding: 10px

#section-user
  position: relative
  min-width: 200px
  height: 100%
  display: flex
  align-items: center
  padding: 12px
  z-index: 1

  .user__menu
    position: absolute
    left: 0
    bottom: 0
    background: $color-menu-hover
    transform: translateY(100%)
    opacity: 0
    transition: opacity .4s
    height: 0
    overflow: hidden
    width: 100%
    z-index: 2

    a
      display: block

    .menu__item
      line-height: 2


  #user__avatar
    width: 35px
    height: 35px
    border-radius: 50%
    background: url(https://assets.htmlacademy.ru/img/unknown-raccoon.v4.svg) center / contain no-repeat

  #user__name
    margin-left: 10px

  &:hover
    background: $color-menu-hover
    .user__menu
      opacity: 1
      height: auto
      padding: 10px

#section-login
  position: relative
  min-width: 200px
  height: 100%
  display: flex
  align-items: center
  padding: 12px

  .login__link
    &:first-child
      margin-right: 10px


.standard-form
  background: none

.xdget-button.btn-success
  display: block
  width: 100%
  margin-bottom: 20px
  background: #2d2d44
  border: none

.xdget-block .form-field input
  background: transparent !important

.form-control
  border-color: rgba(45, 45, 68, 0.5) !important

.xdget-html
  display: none
