.standard-form {
    background: none;
}

.xdget-button.btn-success {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background: #2d2d44;
    border: none;
}

.xdget-block .form-field input {
    background-color: transparent!important;
}

.form-control {
    border-color: rgba(45, 45, 68, .5)!important;
}

.xdget-html {
    display: none;
}
